<div>
    <div class="grid grid-cols-1 lg:grid-cols-[600px_1fr]">
        <div class="w-full flex mx-auto flex-col my-4">
            <h3 class="text-center my-2 font-semibold">Total Population for each province</h3>
            <app-line-chart [label]="data?.provinces" [data]="data?.population"></app-line-chart>
        </div>
        <ol class="flex flex-col gap-3 px-0 lg:px-3 items-center justify-center">
            <li class="flex items-center w-full justify-center">
                <div class="border border-2 bg-green-500 grid grid-cols-[1fr_1fr] items-center  border-slate-200 h-[fit] p-2 w-full rounded shadow-md">
                    <div class="flex flex-col items-center justify-center">
                        <img class="w-[50px] h-[50px]" src="../../../../../assets/images/pregnant-woman.png" alt="">
                        <p class="font-bold text-white">Mother Pregnant</p>
                    </div>
                    <p class="text-center text-white font-extrabold text-xl md:text-3xl">{{data?.count_pregnant}}</p>
                </div>
            </li>
            <li class="flex items-center w-full justify-center">
                <div class="border border-2 bg-green-500  grid grid-cols-[1fr_1fr] items-center  border-slate-200 h-[fit] p-2 w-full rounded shadow-md">
                    <div class="flex flex-col items-center justify-center">
                        <img class="w-[50px] h-[50px]" src="../../../../../assets/images/family.png" alt="">
                        <p class="font-bold text-white text-green-800 text-[14px] text-center">Couple pactice family planning</p>
                    </div>
                    <p class="text-center font-extrabold text-white text-xl md:text-3xl">{{data?.count_prac_fam_plan}}</p>
                </div>
            </li>
        </ol>
    </div>


    <ol class="gap-2 grid mt-4 md:grid-cols-2 grid-cols-1">
        <li class="border-2 border border-green-500/50 flex flex-col gap-2 items-center justify-center py-2 rounded shadow ">
            <h3 class="text-center text-green-700 font-bold">Using iodized salt</h3>
            <app-dougnut-chart [data]="data?.iodized_salt_data"></app-dougnut-chart>
        </li>
        <li class="border-2  border border-green-500/50 flex flex-col gap-2 items-center justify-center py-2 rounded shadow ">
            <h3 class="text-center text-green-700 font-bold">using IFR</h3>
            <app-dougnut-chart [data]="data?.using_IFR_data"></app-dougnut-chart>
        </li>
    </ol>



    
    <ol class="gap-2 grid mt-4 lg:grid-cols-3  grid-cols-1">
        <li class="border-2 border border-green-500/50 flex flex-col items-center justify-center py-2 rounded shadow ">
            <h3 class="text-center text-green-700 font-bold">Toilet Types</h3>
            <app-pie-chart [data]="data?.toilet_type" [label]="toiletTypes"></app-pie-chart>
        </li>
        <li class="border-2 border border-green-500/50 flex flex-col items-center justify-center py-2 rounded shadow ">
            <h3 class="text-center text-green-700 font-bold">Water Soure</h3>
            <app-pie-chart [data]="data?.water_soruce" [label]="typeOfWater"></app-pie-chart>
        </li>
        <li class="border-2 border border-green-500/50 flex flex-col items-center justify-center py-2 rounded shadow ">
            <h3 class="text-center text-green-700 font-bold">Food Producation Activity</h3>
            <app-pie-chart [data]="data?.food_prod_act" [label]="foodProdActs"></app-pie-chart>
        </li>
    </ol>



    <ol class="grid md:grid-cols-2 grid-cols-1 gap-2 mt-5">
        <li class="border shadow p-5 border-2 border-green-500/50 rounded">
            <p class="text-center font-bold text-green-800">No of Children</p>
            <app-bar-chart [data]="data?.no_children" [label]="['yrs<6mos. old','6-23 yrs old','24-59 yrs old','yrs>60 yrs old']"></app-bar-chart>
        </li>
        <li class="border shadow p-5 border-2 border-green-500/50 rounded">
            <p class="text-center font-bold text-green-800">Nursing-6 mos. child</p>
            <app-bar-chart [data]="data?.data_nursing_type" [label]="['EBF','Mixed feeding','Bottle-fed','Others']"></app-bar-chart>
        </li>
    </ol>
</div>