<div class="text-sm w-full relative mt-5 grid gap-20 z-40">
  <div class="" >
    <div class="relative  lg:w-full">
      <ol class="flex items-center py-2 gap-2">
          <li routerLink="/form/province" class="flex cursor-pointer cursor-normal gap-1 items-center">
              <i class="pi pi-folder"></i>
              <span>Province <i>[{{provinceName}}]</i> ></span>
          </li>
          <li class="flex cursor-normal gap-1 items-center">
            <i class="pi pi-folder-open"></i>
            <span>City</span>
        </li>
      </ol>
      <p-table
        [value]="cities"
        #dt2
        class="mt-5"
        dataKey="id"
        responsiveLayout="scroll"
        [autoLayout]="true"
        [paginator]="true"
        [rows]="10"
        [columns]="cols"
        selectionMode="multiple"
        [(selection)]="selectCity"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="[
          'attributes.city',
          'personnel_details.last_name',
          'personnel_details.first_name',
          'personnel_details.middle_name',
          'personnel_details.email'
        ]"
      >
        <ng-template pTemplate="caption">
          <div class="grid gap-2 md:flex md:justify-between">
            <div class="flex items-center py-1 rounded bg-white px-2">
              <i class="pi pi-search"></i>
              <input
                type="text"
                class="outline-0 ml-2 border-0"
                #textInput
                (input)="dt2.filterGlobal(textInput.value, 'contains')"
                placeholder="Search keyword"
              />
            </div>
            <button
                (click)="createAccountModal = true"
                class="bg-green-800 text-white text-[12px] md:text-sm font-semibold py-3 px-5 rounded-3xl hover:bg-green-900/80 cursor-pointer transition-all"
              >
                <i class="fal fa-file-plus mr-1"></i>
                Create
              </button>
            
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr class="text-sm">
            <th field="name">City</th>
            <th field="AlumniCredentialschoolId.Course.acronym">Personnel</th>
            <th field="AlumniCredentialschoolId.gradClass">Email</th>
            <th field="email">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-city>
          <tr class="text-sm" [pSelectableRow]="city">
            <td>{{ city.attributes.city }}</td>
            <td>{{ city.personnel_details.last_name + ' ,' +  city.personnel_details.first_name + ' ' + city.personnel_details.middle_name[0] + '.' | titlecase}}</td>
            <td>{{ city.personnel_details.email}}</td>
            
            <td class="grid gap-2">
              <div
                class="cursor-pointer"
                [routerLink]="'/form/province/'+provinceId+'/'+city.id"
              >
                <i class="fad fa-eye"></i> View
              </div>
              <div (click)="deleteCity(city.id)">
                  <i class="fad fa-trash"></i> Delete
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
  </div>
  </div>
</div>



<p-dialog
    header="Create City"
    [(visible)]="createAccountModal"
    [modal]="true"
    appendTo="body"
    [style]="{ maxWidth: '400px', width: '400px' }"
  >
  <div class="mt-3">
  <form
      (ngSubmit)="onSubmit()"
      [formGroup]="cityForm"
      class="w-full grid gap-2"
    >
        <div class="w-full">
          <label class="block text-[12px] font-medium text-gray-700"
            >City</label
          >
          <div class="mt-1 relative rounded-md w-full">
            <input
              type="text"
              class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50"
              placeholder="Enter city"
              formControlName="city"
            />
          </div>
        </div>

        

      <button
        [disabled]="isSubmitLoading"
        type="submit"
        class="grid place-items-center cursor-pointer bg-slate-800 text-white font-semibold rounded-md py-3 hover:bg-slate-900/80 transition-all w-full mt-2"
      >
        <div class="flex items-center w-fit mx-auto" *ngIf="isSubmitLoading">
          <svg
            class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>

          <span>Processing</span>
        </div>

        <span *ngIf="!isSubmitLoading">Create</span>
      </button>
    </form>
  </div>
</p-dialog>


  