<div class="relative z-40 mt-2 pb-20">
    <div class="mt-5 ">
      <p-table
        [value]="data"
        #dt2
        class="mt-5"
        dataKey="id"
        responsiveLayout="scroll"
        [autoLayout]="true"
        [paginator]="true"
        [rows]="10"
        [columns]="cols"
        selectionMode="multiple"
        [(selection)]="selectdata"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="[
          'attributes.household_no',
          'attributes.no_household_member',
          'attributes.mother_contact_number',
          'attributes.father_contact_number',
          'attributes.mother',
          'attributes.father',
          'attributes.toilet_type',
          'attributes.water_source',
          'attributes.food_prod_act',
          'attributes.housthould_head',
          'attributes.mother_occupation',
          'attributes.father_occupation' ,
          'attributes.mother_educ_attain' ,
          'attributes.father_educ_attain' ,
          'attributes.mother_birthday' ,
          'attributes.father_birthday' ,
        ]"
      >
        <ng-template pTemplate="caption">
          <div class="grid gap-2 md:flex md:justify-between">
            <div class="flex items-center py-1 rounded bg-white px-2">
              <i class="pi pi-search"></i>
              <input
                type="text"
                class="outline-0 ml-2 border-0"
                #textInput
                (input)="dt2.filterGlobal(textInput.value, 'contains')"
                placeholder="Search keyword"
              />
            </div>


            <div class="flex">
              <div class="flex items-center mr-2 gap-1">
                <input
                  type="file"
                  name="file"
                  #importInput
                  class="custom-file-input hidden"
                  id="inputGroupFile"
                  required
                  value=""
                  (change)="handleImport($event)"
                  (click)="importInput.value = ''"
                  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                />

                <button
                  (click)="importInput.click()"
                  class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                >
                  <i class="fad fa-upload mr-1"></i>
                  Import
                </button>

                <button
                  (click)="exportExcel()"
                  class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                >
                  <i class="fad fa-download mr-1"></i>
                  Excel
                </button>
                <div class="relative">

                  <button
                    (click)="exportPdf()" #ThisElem
                    class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                  >
                    <i class="fad fa-download mr-1"></i>
                    PDF
                  </button>
                </div>
              </div>


              <button
                (click)="familyProfileFormBtn(null)"
                class="bg-green-800 text-white text-[12px] md:text-sm font-semibold py-3 px-5 rounded-3xl hover:bg-green-900/80 cursor-pointer transition-all"
              >
                <i class="fal fa-file-plus mr-1"></i>
                Create
              </button>

            </div>





          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr class="text-sm">
            <th field="">Household no.</th>
            <th field="attributes.household_no">No of household member</th>
            <th field="attributes.no_household_member ">Contact number</th>
            <th field="attributes.father">Name of Mother</th>
            <th field="attributes.mother">Name of Father</th>
            <th field="attributes.toilet_type">Toilet Type</th>
            <th field="attributes.water_source">Water Source</th>
            <th field="attributes.food_prod_act">Food production activity</th>
            <th >Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pf>
          <tr class="text-sm" [pSelectableRow]="pf">
            <td>{{ pf.attributes.household_no }}</td>
            <td>{{ pf.attributes.no_household_member }}</td>
            <td>{{ pf.attributes.contact_number }}</td>
            <td>
              {{ pf.attributes.father_first_name  | titlecase}}
              {{ pf.attributes.father_middle_name[0]+'.' | titlecase}}
              {{ pf.attributes.father_last_name  | titlecase}}
              {{ pf.attributes.father_suffix  | uppercase}}
            </td>
            <td>
              {{ pf.attributes.mother_first_name  | titlecase}}
              {{ pf.attributes.mother_middle_name[0]+'.' | titlecase}}
              {{ pf.attributes.mother_last_name  | titlecase}}
              {{ pf.attributes.mother_suffix  | uppercase}}
            </td>
            <td>{{ pf.attributes.toilet_type }}</td>
            <td>{{ pf.attributes.water_source }}</td>
            <td>{{ pf.attributes.food_prod_act }}</td>

            <td class="flex flex-col md:flex-row gap-2">
              <div
                class="cursor-pointer text-center"
                [routerLink]="'/admin/forms/family-profile/details'"
                [queryParams]="{id:pf.id}"
              >
                <i class="fad fa-eye"></i> View
              </div>
              <div class="text-center" (click)="familyProfileFormBtn(pf)">
                  <i class="fad fa-pencil"></i> Update
              </div>
              <div (click)="deleteData(pf.id)" class="text-center">
                  <i class="fad fa-trash"></i> Delete
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>

<p-dialog
    header="Family Profile Form"
    [(visible)]="createModal"
    [modal]="true"
    appendTo="body"
    [style]="{ maxWidth: '400px', width: '400px' }"
  >
  <app-family-profile-form (triggerSubmmit)="registerFamiltyProfileCommit()" [FPDetails]="FPDetails"></app-family-profile-form>
</p-dialog>
