<div class="relative z-40 mt-2 pb-20">
    <div class="mt-5 ">
      <p-table
        [value]="data"
        #dt2
        class="mt-5"
        dataKey="id"
        responsiveLayout="scroll"
        [autoLayout]="true"
        [paginator]="true"
        [rows]="10"
        [columns]="cols"
        selectionMode="multiple"
        [(selection)]="selectdata"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="[
          'attributes.household_no',
            'attributes.no_household_member',
            'attributes.contact_number',
            'attributes.mother',
            'attributes.father',
            'attributes.occupation',
            'attributes.educ_attain',
           'attributes.toilet_type',
            'attributes.water_source',
            'attributes.food_prod_act'
        ]"
      >
        <ng-template pTemplate="caption">
          <div class="grid gap-2 md:flex md:justify-between">
            <div class="flex items-center py-1 rounded bg-white px-2">
              <i class="pi pi-search"></i>
              <input
                type="text"
                class="outline-0 ml-2 border-0"
                #textInput
                (input)="dt2.filterGlobal(textInput.value, 'contains')"
                placeholder="Search keyword"
              />
            </div>
            <button
                (click)="createModal = true"
                class="bg-green-800 text-white text-[12px] md:text-sm font-semibold py-3 px-5 rounded-3xl hover:bg-green-900/80 cursor-pointer transition-all"
              >
                <i class="fal fa-file-plus mr-1"></i>
                Create
              </button>
            
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr class="text-sm">
            <th field="AlumniCredentialschoolId.Course.acronym">Household no.</th>
            <th field="AlumniCredentialschoolId.gradClass">No of household member</th>
            <th field="AlumniCredentialschoolId.gradClass">Contact number</th>
            <th field="AlumniCredentialschoolId.gradClass">Name of Mother</th>
            <th field="AlumniCredentialschoolId.gradClass">Name of Father</th>
            <th field="AlumniCredentialschoolId.gradClass">Occupation</th>
            <th field="AlumniCredentialschoolId.gradClass">Educational attainment</th>
            <th field="AlumniCredentialschoolId.gradClass">Toilet Type</th>
            <th field="AlumniCredentialschoolId.gradClass">Water Source</th>
            <th field="AlumniCredentialschoolId.gradClass">Food production activity</th>
            <th field="email">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pf>
          <tr class="text-sm" [pSelectableRow]="pf">
            <td>{{ pf.attributes.household_no }}</td>
            <td>{{ pf.attributes.no_household_member }}</td>
            <td>{{ pf.attributes.contact_number }}</td>
            <td>{{ pf.attributes.father }}</td>
            <td>{{ pf.attributes.mother }}</td>
            <td>{{ pf.attributes.occupation }}</td>
            <td>{{ pf.attributes.educ_attain }}</td>
            <td>{{ pf.attributes.toilet_type }}</td>
            <td>{{ pf.attributes.water_source }}</td>
            <td>{{ pf.attributes.food_prod_act }}</td>
            
            <td class="grid gap-2">
              <div
                class="cursor-pointer text-center"
                [routerLink]="'/admin/forms/family-profile/details'"
                [queryParams]="{id:pf.id}"
              >
                <i class="fad fa-eye"></i> View
              </div>
              <div (click)="deleteData(pf.id)" class="text-center">
                  <i class="fad fa-trash"></i> Delete
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>

<p-dialog
    header="Create Family Profile"
    [(visible)]="createModal"
    [modal]="true"
    appendTo="body"
    [style]="{ maxWidth: '400px', width: '400px' }"
  >
  <app-family-profile-form (triggerSubmmit)="registerFamiltyProfileCommit()"></app-family-profile-form>
</p-dialog>