<div class="relative z-40 mt-10 pb-20">
    <h1 class="font-bold text-xl md:text-3xl text-white">
      Good <span >{{timeOfTheDay[timeOfTheDayIndex]}} </span>
        <span>{{name}}!</span
      >
    </h1>
  
    <div class="mt-20 pb-10">
      <div class="grid lg:grid-cols-2 gap-5">
        <a 
          routerLink="/admin/personnel"
          class="bg-white shadow-lg border-4 border-gray-200 p-5 px-8 h-fit rounded-2xl grid grid-cols-2 gap-1 items-center cursor-pointer hover:bg-slate-50 transition-all"
        >
          <div class="h-[100px]">
            <img
              src="../../../../../assets/images/nurse.png"
              alt=""
              class="w-[100px]"
            />
          </div>
  
          <div class="">
            <h1 class="text-xl lg:text-3xl font-black text-slate-800 text-end">
              Personnel
            </h1>
            <div class="flex gap-2 justify-end">
              <p class = 'text-end text-sm text-green-500 font-semibold mt-1'>
                 Active
              </p>              
              <p class="text-end text-sm  text-slate-600 font-semibold mt-1">
                {{data?.active_count}}
              </p>
            </div>
            <div class="flex gap-2 justify-end">
              <p class = 'text-end text-sm text-red-500 font-semibold mt-1'>
                 Inactive
              </p>              
              <p class="text-end text-sm  text-slate-600 font-semibold mt-1">
                {{data?.inactive_count}}
              </p>
            </div>
          </div>
          
        </a>


        <a 
        routerLink="/admin/events"
        class="bg-white shadow-lg border-4 border-gray-200 p-5 px-8 h-fit rounded-2xl grid grid-cols-2 gap-1 items-center cursor-pointer hover:bg-slate-50 transition-all"
      >
        <div class="h-[100px]">
          <img
            src="../../../../../assets/images/calendar.png"
            alt=""
            class="w-[100px]"
          />
        </div>

        <div class="">
          <h1 class="text-xl lg:text-3xl font-black text-slate-800 text-end">
            Events
          </h1>
          <div class="flex gap-2 justify-end">
            <p class = 'text-end text-sm text-green-500 font-semibold mt-1'>
               Posted
            </p>              
            <p class="text-end text-sm  text-slate-600 font-semibold mt-1">
              {{data?.event_count}}
            </p>
          </div>
        </div>
        
      </a>

        <a 
          routerLink="/admin/documents"
          class="bg-white shadow-lg border-4 border-gray-200 p-5 px-8 h-fit rounded-2xl grid grid-cols-2 gap-1 items-center cursor-pointer hover:bg-slate-50 transition-all"
        >
          <div class="h-[100px]">
            <img
              src="../../../../../assets/images/folders.png"
              alt=""
              class="w-[100px]"
            />
          </div>
  
          <div class="">
            <h1 class="text-xl lg:text-3xl font-black text-slate-800 text-end">
              Documents
            </h1>
            <div class="flex gap-2 justify-end">
              <p class = 'text-end text-sm text-green-500 font-semibold mt-1'>
                 Files
              </p>              
              <p class="text-end text-sm  text-slate-600 font-semibold mt-1">
                {{data?.document_count}}
              </p>
            </div>
          </div>
          
        </a>

        <a 
          routerLink="/admin"
          class="bg-white shadow-lg border-4 border-gray-200 p-5 px-8 h-fit rounded-2xl grid grid-cols-2 gap-1 items-center cursor-pointer hover:bg-slate-50 transition-all"
        >
          <div class="h-[100px]">
            <img
              src="../../../../../assets/images/population.png"
              alt=""
              class="w-[100px]"
            />
          </div>
  
          <a routerLink="/admin/baranggay" class="">
            <h1 class="text-xl lg:text-3xl font-black text-slate-800 text-end">
              Baranggay
            </h1>
            <div class="flex gap-2 justify-end">
              <p class = 'text-end text-sm text-green-500 font-semibold mt-1'>
                 Registered
              </p>              
              <p class="text-end text-sm  text-slate-600 font-semibold mt-1">
                {{data?.baranggay_count}}
              </p>
            </div>
          </a>
          
        </a>

        
       

        


      </div>
      
    </div>
</div>