<div class="relative z-40 mt-10 pb-20">
    <div class="">
      <h1 class="font-bold text-xl md:text-3xl text-white">Resident of {{baranggay | titlecase}}</h1>
      <p class="text-slate-100 text-[12px]">Information about the system</p>
    </div>
    <div class="mt-5 overflow-x-auto">
        <table class="mx-auto  py-2 grid">
            <tr class="flex overflow-x-auto  text-[10px]">
                <th class="border bg-blue-300 p-1 w-[120px] grid place-items-center">Name of Mother or Caregiver</th>
                <th class="border bg-blue-300 p-1 w-[120px] grid place-items-center">Full Name of Child</th>
                <th class="border bg-blue-300 p-1 w-[120px] grid place-items-center">Indigenous Preschool</th>
                <th class="border bg-blue-300 p-1 w-[120px] grid place-items-center">Sex</th>
                <th class="border bg-blue-300 p-1 w-[120px] grid place-items-center">Date of Birth</th>
                <th class="border bg-blue-300 p-1 w-[120px] grid place-items-center">Actual Date of Weight</th>
                <th class="border bg-blue-300 p-1 w-[120px] grid place-items-center">Weight</th>
                <th class="border bg-blue-300 p-1 w-[120px] grid place-items-center">Height</th>
                <th class="border bg-slate-500 text-slate-200 p-1 w-[120px] grid place-items-center">Age In Months</th>
                <th class="border bg-slate-500 text-slate-200 p-1 w-[120px] grid place-items-center">Weight for Age Status</th>
                <th class="border bg-slate-500 text-slate-200 p-1 w-[120px] grid place-items-center">Height for Age Status</th>
                <th class="border bg-slate-500 text-slate-200 p-1 w-[120px] grid place-items-center">Weight for Length/Height status</th>
            </tr>
        </table>
    </div>
</div>