<div class="">
  <div
    class="h-fit flex justify-between items-center p-4 bg-[#E6EDFB] border-b-[3px] border-slate-300"
  >
    <div class="">RETURN</div>
    <div class=""></div>
  </div>

  <div class="grid lg:grid-cols-[280px_1fr]">
    <div class="w-full min:h-fit h-screen bg-[#E6EDFB]">he</div>

    <div class="w-full bg-white p-8">
      <h2 class="font-bold">Edit Profile</h2>

      <div class="">
        <div class="mt-5">
          <h6 class="text-sm">Profile Picture</h6>
          <div class="grid grid-cols-[150px_150px] gap-4 mt-2">
            <div class="w-[150px] h-[150px] rounded-xl bg-gray-200 border-2">
              <img
                src="https://cdn.dribbble.com/users/4490292/avatars/small/09d97566256838f4a69c747ac638a369.png?1607099967"
                alt=""
                class="w-full h-full object-cover rounded-xl"
              />
            </div>
            <div class="">
              <div
                class="bg-blue-700 font-semibold text-white border-[3px] border-blue-600 py-3 mt-4 my-2 px-8 w-full text-center h-fit cursor-pointer rounded-lg text-xs outline-none hover:bg-blue-600"
              >
                Upload
              </div>
              <div
                class="bg-red-50 border-[3px] border-red-200 font-semibold text-red-400 text-center py-3 px-8 w-full h-fit cursor-pointer rounded-lg text-xs outline-none hover:bg-red-100"
              >
                Remove
              </div>
            </div>
          </div>

          <div class="mt-10">
            <div class="grid grid-cols-[400px_400px] gap-6">
              <div class="w-full">
                <div class="font-semibold mb-2 text-sm">Name</div>
                <input
                  type="text"
                  placeholder="Your name"
                  class="bg-white border-2 border-gray-300 w-full outline-none py-3 px-4 text-sm rounded-lg"
                />
              </div>
              <div class="w-full">
                <div class="font-semibold mb-2 text-sm">Title</div>
                <input
                  type="text"
                  placeholder="Your title"
                  class="bg-white border-2 border-gray-300 w-full outline-none py-3 px-4 text-sm rounded-lg"
                />
              </div>
              <div class="w-full">
                <div class="font-semibold mb-2 text-sm">Email</div>
                <input
                  type="text"
                  placeholder="Your email"
                  class="bg-white border-2 border-gray-300 w-full outline-none py-3 px-4 text-sm rounded-lg"
                />
              </div>
              <div class="w-full">
                <div class="font-semibold mb-2 text-sm">Phone number</div>
                <input
                  type="text"
                  placeholder="Your phone number"
                  class="bg-white border-2 border-gray-300 w-full outline-none py-3 px-4 text-sm rounded-lg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
