<div class="relative z-40 mt-10 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-white">Population Bracket</h1>
    <p class="text-slate-100 text-[12px]">Information about the system</p>
  </div>
  <div class="mt-5 grid overflow-x-scroll py-2">
    <table class="text-[10px]">
      <tr>
        <th rowspan="2" class="border min-w-[100px]">Province, City, Manicipality, and Baranggay</th>
        <th class="min-w-[100px] border" *ngFor="let month of months">{{month.label}}</th>
      </tr>
      <tr >
        <th class="min-w-[100px] border" *ngFor="let month of months">
          <div class="grid grid-cols-3 gap-1">
            <div>Male</div>
            <div>Female</div>
            <div>Total</div>
          </div>
        </th>
      </tr>
      <tr>
      </tr>
    </table>
  </div>
</div>
