<div class="relative z-40 mt-10 pb-20">
    <div class="">
      <h1 class="font-bold text-xl md:text-3xl text-white">List Of Preschooler</h1>
      <p class="text-slate-100 text-[12px]">Information about the system (Identified nutritional status)</p>
    </div>
    <div class="mt-5">
        <p-table
        [value]="data"
        #dt2
        class="mt-5"
        dataKey="id"
        responsiveLayout="scroll"
        [autoLayout]="true"
        [paginator]="true"
        [rows]="10"
        [columns]="cols"
        selectionMode="multiple"
        [(selection)]="selectdata"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-gridlines"
        [globalFilterFields]="[
          'info?.f_p_m?.name' ,
          'ageInMoth',
            'info?.weight', 
            'status'
        ]"
      >
        <ng-template pTemplate="caption">
          <div class="grid gap-2 md:flex md:justify-between">
            <div class="flex items-center py-1 rounded bg-white px-2">
              <i class="pi pi-search"></i>
              <input
                type="text"
                class="outline-0 ml-2 border-0"
                #textInput
                (input)="dt2.filterGlobal(textInput.value, 'contains')"
                placeholder="Search keyword"
              />
            </div>
            <button
                (click)="createModal = true"
                class="bg-green-800 text-white text-[12px] md:text-sm font-semibold py-3 px-5 rounded-3xl hover:bg-green-900/80 cursor-pointer transition-all"
              >
                <i class="fal fa-file-plus mr-1"></i>
                Create
              </button>
            
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr class="text-sm">
            <th field="name">Name of child</th>
            <th field="age">age</th>
            <th field="opt_plus">Date of opt plus</th>
            <th field="created_at">Actual date of weight</th>
            <th field="weight">Weight (kg)</th>
            <th field="height">height (cm)</th>
            <th field="BMI">BMI (Body max Index)</th>
            <th field="percentile_for_BMI">Percentile for BMI</th>
            <th field="status">Nutritional Status</th>
            <th >Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-child>
          <tr class="text-sm" [pSelectableRow]="child">
            <td><a class="text-blue-500 font-bold hover:text-blue-500/80" 
              routerLink="/form/familty-profile/details"
              [queryParams]="{id:child?.info?.f_p_m?.FP_id}">{{ child?.name }}</a></td>
            <td>{{child?.age}}</td>
            <td>{{ child?.preDetails?.date_opt | date : 'mediumDate' }}</td>
            <td>{{ child?.created_at | date : 'mediumDate' }}</td>
            <td>{{ child?.preDetails?.weight }}</td>
            <td>{{ child?.preDetails?.height }}</td>
            <td>{{ child?.BMI }}</td>
            <td>{{ child?.percentile }}</td>
            <td>{{ child?.status }}</td>
            
            <td class="grid gap-2">
              <!-- <div
                class="cursor-pointer text-center"
                [routerLink]="'/form/familty-profile/details'"
                [queryParams]="{id:child?.info?.id}"
              >
                <i class="fad fa-eye"></i> View
              </div> -->
              <div (click)="deleteData(child?.preDetails?.id)" class="text-center">
                  <i class="fad fa-trash"></i> Delete 
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>


<p-dialog
    header="Create Record"
    [(visible)]="createModal"
    [modal]="true"
    appendTo="body"
    [style]="{ maxWidth: '400px', width: '400px' }"
  >
    <app-preschool-with-nutritional-status-form (triggerSubmmit)="createInfantRecordCommit()"></app-preschool-with-nutritional-status-form>
</p-dialog>