<div class="relative z-40 mt-10 pb-20">
    <div class="">
      <h1 class="font-bold text-xl md:text-3xl text-white">Family Profile Details</h1>
      <p class="text-slate-100 text-[12px]">Information about the system</p>
    </div>
    <div class="mt-5 flex gap-2">
        <div (click)="goBack()" class="px-2 py-1 flex items-center gap-2 text-white text-[12px] cursor-pointer rounded-full bg-slate-500 hover:bg-slate-500/80 w-fit">
            <i class="pi pi-arrow-left"></i>
            Go back
        </div>
        <div (click)="detailModal=true" class="px-2 py-1 flex items-center gap-2 text-white text-[12px] cursor-pointer rounded-full bg-slate-500 hover:bg-slate-500/80 w-fit">
            <i class="pi pi-info-circle"></i>
            More Details
        </div>
    </div>
    <div class="mt-5 grid grid-cols-1">



        <div class="my-2 font-bold bg-purple-800 text-[12px] w-fit px-2 py-1 rounded-lg text-white">Household member</div>
        <div class="grid">
            <p-table
            [value]="data"
            #dt2
            dataKey="id"
            responsiveLayout="scroll"
            [autoLayout]="true"
            [paginator]="true"
            [rows]="10"
            [columns]="cols"
            selectionMode="multiple"
            [(selection)]="selectdata"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]"
            styleClass="p-datatable-gridlines"
            [globalFilterFields]="[
            'first_name ',
            'middle_name',
            'last_name ',
            'suffix',
            'birthDay ',
            'occupation',
            'relationship',
            'gender' ,
            ]"
          >
            <ng-template pTemplate="caption">
              <div class="grid gap-2 md:flex md:justify-between">
                <div class="flex items-center py-1 rounded bg-white px-2">
                  <i class="pi pi-search"></i>
                  <input
                    type="text"
                    class="outline-0 ml-2 border-0"
                    #textInput
                    (input)="dt2.filterGlobal(textInput.value, 'contains')"
                    placeholder="Search keyword"
                  />
                </div>
                <div class="flex">
                  <div class="flex items-center mr-2 gap-1">
                    <input
                      type="file"
                      name="file"
                      #importInput
                      class="custom-file-input hidden"
                      id="inputGroupFile"
                      required
                      value=""
                      (change)="handleImport($event)"
                      (click)="importInput.value = ''"
                      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    />

                    <!-- <button
                      (click)="importInput.click()"
                      class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                    >
                      <i class="fad fa-upload mr-1"></i>
                      Import
                    </button> -->

                    <button
                      (click)="exportExcel()"
                      class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                    >
                      <i class="fad fa-download mr-1"></i>
                      Excel
                    </button>
                    <div class="relative">

                      <button
                        (click)="exportPdf()" #ThisElem
                        class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                      >
                        <i class="fad fa-download mr-1"></i>
                        PDF
                      </button>
                    </div>
                  </div>



                  <button
                      (click)="handleSubmit(null)"
                      class="bg-green-800 text-white text-[12px] md:text-sm font-semibold py-3 px-5 rounded-3xl hover:bg-green-900/80 cursor-pointer transition-all"
                    >
                      <i class="fal fa-file-plus mr-1"></i>
                      Create
                    </button>

                </div>

              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr class="text-sm">

                <th field="name">Name</th>
                <th field="birthDay">Birth Date</th>
                <th field="birthDay">Age</th>
                <th field="occupation">Occupation</th>
                <th field="relationship">Relationship</th>
                <th field="gender">Gender</th>
                <th field="nursing_type">Nursing</th>
                <th >Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pfc>
              <tr class="text-sm" [pSelectableRow]="pfc">
                <td>{{ pfc.first_name + ' ' + pfc?.middle_name[0] +'. ' + pfc?.last_name + ' ' }} {{pfc.suffix ? pfc.suffix : ''}}</td>
                <td>{{ pfc.birthDay | date :'mediumDate'}}</td>
                <td>{{ calculateAge(pfc.birthDay)!=0 ? calculateAge(pfc.birthDay)+' year(s) old' : '1 yr>mos.Child' }}</td>
                <td>{{ pfc.occupation }}</td>
                <td>{{ pfc.relationship }}</td>
                <td>{{ pfc.gender }}</td>
                <td>{{ pfc.nursing_type ? pfc.nursing_type : 'N/A' }}</td>

                <td class="grid gap-2">
                  <div (click)="handleSubmit(pfc)" class="text-center">
                    <i class="fad fa-pencil"></i> Update
                </div>
                  <div (click)="deleteData(pfc.id)" class="text-center">
                      <i class="fad fa-trash"></i> Delete
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>





    </div>
</div>



<p-dialog
      header="Family Profile Details"
      [(visible)]="detailModal"
      [modal]="true"
      appendTo="body"
      [style]="{ maxWidth: '550px', width: '550px' }"
    >

      <table class="grid grid-cols-2  p-2 rounded text-[12px]">
        <tr class="grid">
            <th class="show border p-1 px-2">Household number</th>
            <th class="show border p-1 px-2">Contact number</th>
            <th class="show border p-1 px-2">Mother</th>
            <th class="show border p-1 px-2">Mother`s birthday</th>
            <th class="show border p-1 px-2">Mother`s occupation</th>
            <th class="show border p-1 px-2">Mother`s educational attainment</th>
            <th class="show border p-1 px-2">Father</th>
            <th class="show border p-1 px-2">Father`s birthday</th>
            <th class="show border p-1 px-2">Father`s occupation</th>
            <th class="show border p-1 px-2">Father`s educational attainment</th>
            <th class="show border p-1 px-2">Food Production Activity</th>
            <th class="show border p-1 px-2">Toilet type</th>
            <th class="show border p-1 px-2">Water source</th>
            <th class="show border p-1 px-2">Using iodized salt</th>
            <th class="show border p-1 px-2">Using IFR</th>
            <th class="show border p-1 px-2">Family planning</th>
            <th class="show border p-1 px-2">Mother pregnant</th>
        </tr>
        <tr class="grid">
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.household_no}}</td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.contact_number ? FamDetails?.attributes?.contact_number : 'N/A' }}</td>
            <td class="show border p-1 px-2">
              {{ FamDetails?.attributes?.mother  | titlecase}}
            </td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.mother_birthday | date : 'mediumDate'}}</td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.mother_occupation ? FamDetails?.attributes?.mother_occupation : 'N/A'}}</td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.mother_educ_attain ? FamDetails?.attributes?.mother_educ_attain : 'N/A'}}</td>
            <td class="show border p-1 px-2">
              {{ FamDetails?.attributes?.father  | titlecase}}
            </td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.father_birthday | date : 'mediumDate'}}</td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.father_occupation ? FamDetails?.attributes?.father_occupation : 'N/A'}}</td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.father_educ_attain ? FamDetails?.attributes?.father_educ_attain : 'N/A'}}</td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.food_prod_act ?? 'N/A'}}</td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.toilet_type ?? 'N/A'}}</td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.water_source ?? 'N/A'}}</td>
            <td class="show border p-1 px-2">
                {{
                  FamDetails?.attributes?.using_iodized_salt ? 'true' :
                  FamDetails?.attributes?.using_iodized_salt == null ? 'N/A' : 'false'
                }}</td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.using_IFR ? 'true' : FamDetails?.attributes?.using_IFR==null ? 'N/A' : 'false'}}</td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.familty_planning ? 'true' : 
              FamDetails?.attributes?.familty_planning==null  ? 'N/A' :'false'}}</td>
            <td class="show border p-1 px-2">{{FamDetails?.attributes?.mother_pregnant ? 'true' : FamDetails?.attributes?.mother_pregnant==null ? 'N/A' : 'false'}}</td>
        </tr>
    </table>



</p-dialog>


<p-dialog
      [header]="pfc ? 'Update Member Form' : 'Add Member Form'"
      [(visible)]="createModal"
      [modal]="true"
      appendTo="body"
      [style]="{ maxWidth: '400px', width: '400px' }"
    >
    <div class="mt-3">
    <form
        (ngSubmit)="onSubmit()"
        [formGroup]="childrenForm"
        class="w-full grid gap-2"
      >

      <div class="w-full">
        <label class="block text-[12px] font-medium text-gray-700"
          >Select Family Member</label
        >
        <div class="card rounded-md  border-gray-300" style="width: 100%;">
          <p-dropdown [style]="{ minWidth: '100%', width: '100%', 'background-color':'rgba(0,0,0,.01)'}" formControlName="resident_id" [options]="getResidentsWithName()" [(ngModel)]="selectedResident" optionLabel="name" optionValue="id" [filter]="true" filterBy="name" [showClear]="true" placeholder="-Choose one-">
              <ng-template pTemplate="selectedItem" let-selectedOption>
                  <div class="flex align-items-center text-[12px] gap-2">
                      <div>{{selectedOption?.first_name ? selectedOption?.first_name+' '+selectedOption?.middle_name[0]+'. '+selectedOption?.last_name : '-Choose one-'}}</div>
                  </div>
              </ng-template>
              <ng-template let-resident pTemplate="item">
                  <div class="flex align-items-center text-[12px] gap-2">
                      <div>{{resident?.first_name+' '+resident?.middle_name[0]+'. '+resident?.last_name}}</div>
                  </div>
              </ng-template>
          </p-dropdown>
      </div>
      </div>
          

          <div class="w-full">
            <label class="block text-[12px] font-medium text-gray-700"
              >Relationship</label
            >
            <div class="mt-1 relative rounded-md w-full">
              <select class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50" formControlName="relationship">
                <option [value]="relationship" *ngFor="let relationship of  relationships">{{relationship}}</option>
              </select>
            </div>
          </div>

          <div  class="w-full my-2 flex items-center items-center justify-between">
            <label  class="block text-[12px] font-medium text-gray-700"
              >Nursing</label
            >
            <p-inputSwitch formControlName="is_nursing"></p-inputSwitch>
          </div>
          <select formControlName="nursing_type" *ngIf="childrenForm.controls['is_nursing'].value" class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50">
            <option selected disabled>Select feeding Type</option>
            <option  [value]="type" *ngFor="let type of nursingTypes">
                {{type}}
            </option>
          </select>



        <button
          [disabled]="isSubmitLoading"
          type="submit"
          class="grid place-items-center cursor-pointer bg-slate-800 text-white font-semibold rounded-md py-3 hover:bg-slate-900/80 transition-all w-full mt-2"
        >
          <div class="flex items-center w-fit mx-auto" *ngIf="isSubmitLoading">
            <svg
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>

            <span>Processing</span>
          </div>

          <span *ngIf="!isSubmitLoading">{{ pfc ? 'Update' : 'Create'}}</span>
        </button>
      </form>
    </div>
  </p-dialog>
