<div class="relative z-40 mt-10 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-white">Personnel</h1>
    <p class="text-slate-100 text-[12px]">Information about the system</p>
  </div>

  <div class="mt-10 pb-10">
  <div class="text-sm w-full relative mt-10 grid gap-20 z-40">
    <div class="" *ngIf="data">
      <div class="relative w-[350px] lg:w-full">
        <p-table
          [value]="data"
          #dt2
          dataKey="id"
          responsiveLayout="scroll"
          [autoLayout]="true"
          [paginator]="true"
          [rows]="10"
          [columns]="cols"
          selectionMode="multiple"
          [(selection)]="selectPersonnel"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10, 25, 50]"
          styleClass="p-datatable-gridlines"
          [globalFilterFields]="[
            'first_name',
            'last_name',
            'middle_name',
            'email',
            'gender',
            'status',
          ]"
        >
          <ng-template pTemplate="caption">
            <div class="grid gap-2 md:flex md:justify-between">
              <div class="flex items-center rounded bg-white px-2">
                <i class="pi pi-search"></i>
                <input
                  type="text"
                  class="outline-0 ml-2 border-0"
                  #textInput
                  (input)="dt2.filterGlobal(textInput.value, 'contains')"
                  placeholder="Search keyword"
                />
              </div>

              <div class="flex">
                <div class="flex items-center mr-2 gap-1">
                  <input
                    type="file"
                    name="file"
                    #importInput
                    class="custom-file-input hidden"
                    id="inputGroupFile"
                    required
                    value=""
                    (change)="handleImport($event)"
                    (click)="importInput.value = ''"
                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                  />

                  <button
                    (click)="retrieve()"
                    class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                  >
                    <i class="fad fa-users mr-1"></i>
                    Retrieve
                  </button>


                  <button
                    (click)="importInput.click()"
                    class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                  >
                    <i class="fad fa-upload mr-1"></i>
                    Import
                  </button>

                  <button
                    (click)="dt2.exportCSV()"
                    class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                  >
                    <i class="fad fa-download mr-1"></i>
                    CSV
                  </button>
                  <button
                    (click)="dt2.exportCSV({ selectionOnly: true })"
                    pTooltip="Selection Only"
                    tooltipPosition="bottom"
                    class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                  >
                    <i class="fad fa-download mr-1"></i>
                    CSV (Selected)
                  </button>
                  <button
                    (click)="exportExcel()"
                    class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                  >
                    <i class="fad fa-download mr-1"></i>
                    Excel
                  </button>
                  <div class="relative">
                    
                    <button
                      (click)="exportPdf()" #ThisElem
                      class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                    >
                      <i class="fad fa-download mr-1"></i>
                      PDF
                    </button>
                  </div>
                </div>

                <button
                  (click)="createAccountModal = true"
                  class="bg-green-800 text-white text-[12px] md:text-sm font-semibold py-3 px-5 rounded-3xl hover:bg-green-900/80 cursor-pointer transition-all"
                >
                  <i class="fal fa-file-plus mr-1"></i>
                  Create
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr class="text-sm">
              <th field="name">First name</th>
              <th field="AlumniCredentialschoolId.Course.acronym">Middle name</th>
              <th field="AlumniCredentialschoolId.gradClass">Last name</th>
              <th field="email">Email</th>
              <th field="status">Status</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-personnel>
            <tr class="text-sm" [pSelectableRow]="personnel">
              <td>{{ personnel.first_name }}</td>
              <td>{{ personnel.middle_name }}</td>
              <td>{{ personnel.last_name }}</td>
              <td>{{ personnel.email}}</td>
              <td>
                <div
                  class="py-1 px-3 w-fit rounded-lg text-[12px] font-semibold capitalize"
                  [ngClass]="
                    personnel.is_active
                      ? 'bg-green-200 text-green-900'
                      : 'bg-red-200 text-red-900'
                  "
                >
                  {{ personnel.is_active ? 'Active' : "Inactive" }}
                </div>
              </td>
              <td>
                <div
                  class="cursor-pointer"
                  [routerLink]="['/admin/alum']"
                  [queryParams]="{ id: personnel.id }"
                >
                  <i class="fad fa-eye"></i> View
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>

  

    <p-dialog
      header="Create personnel"
      [(visible)]="createAccountModal"
      [modal]="true"
      appendTo="body"
      [style]="{ maxWidth: '400px', width: '400px' }"
    >
    <div class="mt-3">
      <form
        (ngSubmit)="onSubmit()"
        [formGroup]="createForm"
        class="w-full grid gap-2"
      >
          <div class="w-full">
            <label class="block text-[12px] font-medium text-gray-700"
              >First Name</label
            >
            <div class="mt-1 relative rounded-md w-full">
              <input
                type="text"
                class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50"
                placeholder="Enter first name"
                formControlName="first_name"
              />
            </div>
          </div>

          <div class="w-full">
            <label class="block text-[12px] font-medium text-gray-700"
              >Middle Name</label
            >
            <div class="mt-1 relative rounded-md w-full">
              <input
                type="text"
                class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50"
                placeholder="Enter first name"
                formControlName="middle_name"
              />
            </div>
          </div>

          <div class="w-full">
            <label class="block text-[12px] font-medium text-gray-700"
              >Last Name</label
            >
            <div class="mt-1 relative rounded-md w-full">
              <input
                type="text"
                class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50"
                placeholder="Enter last name"
                formControlName="last_name"
              />
            </div>
          </div>



        <div class="w-full">
          <label class="block text-[12px] font-medium text-gray-700"
            >Email</label
          >
          <div class="mt-1 relative rounded-md w-full">
            <input
              type="email"
              class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50"
              placeholder="Enter email"
              formControlName="email"
            />
          </div>
        </div>


        <div class="w-full">
          <label class="block text-[12px] font-medium text-gray-700"s
            >Password</label
          >
          <div class="mt-1 relative rounded-md shadow-sm w-full">
            <input
              type="text"
              class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50"
              placeholder="Enter password"
              formControlName="password"
            />
          </div>
        </div>

        <div class="w-full flex gap-2 mt-2">
          <input type="checkbox" formControlName="is_active" class="rounded">
          <label class="block text-[12px] font-semibold text-gray-700"s
            >Active</label
          >
        </div>

        <button
          [disabled]="isSubmitLoading"
          type="submit"
          class="grid place-items-center cursor-pointer bg-slate-800 text-white font-semibold rounded-md py-3 hover:bg-slate-900/80 transition-all w-full mt-2"
        >
          <div class="flex items-center w-fit mx-auto" *ngIf="isSubmitLoading">
            <svg
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>

            <span>Processing</span>
          </div>

          <span *ngIf="!isSubmitLoading">Create</span>
        </button>
      </form>
    </div>
    </p-dialog>

    